<% include ../partials/boilerplate.ejs %>
<h1>There are <%= books.length %> Books </h1>
<main>
<a href="/books/new">Add Book!</a>
  <% books.forEach(book => { %>
  <div class="list-group">
    <section class='book'>
    <h2 class="list-group-item-heading"><%= book.title %></h2>
    <a href='/books/<%= book.id%>'>Get More Info!</a>
    </section>
  <% }) %>
</main>
<% include ../partials/footer.ejs %>