<% include ../partials/boilerplate.ejs %>
<h1>There are <%= books.length %> Books </h1>
<main>
  <% books.forEach(book => { %>
    <section class='book'>
    <h2><%= book.Title %></h2>
    <a href='/books/<%= book.id%>'>Get More Info!</a>
    </section>
  <% }) %>
</main>
<% include ../partials/footer.ejs %>