<% include ../partials/boilerplate.ejs %>
<h1>Add a New Book</h1>

<form action="/books" method="post">
  <label>Title:
    <input type="text" name="title" placeholder="Title">
  </label>
  <label>Author:
    <input type="text" name="author" placeholder="Author">
  </label>
  <label>Average Rating:
    <input type="text" name="average_rating" placeholder="Average Rating">
  </label>
  <label>Number of Pages:
    <input type="text" name="number_of_pages" placeholder="Number of Pages">
  </label>
  <button type="submit">Submit</button>
</form>

<% include ../partials/footer.ejs %>