<% include ../partials/boilerplate.ejs %>
<h1>Add a New Book</h1>

<form action="/books" method="post">
  <label>Title:
    <input type="text" name="Title" value="">
  </label>
  <label>Author:
    <input type="text" name="Author" value="">
  </label>
  <label>Average Rating:
    <input type="text" name="Average_Rating" value="">
  </label>
  <label>Number of Pages:
    <input type="text" name="Number_of_Pages" value="">
  </label>
  <button type="submit">Submit</button>
</form>

<% include ../partials/footer.ejs %>