 <!DOCTYPE html>
<html>
	<head>
	  <meta charset="UTF-8">
	  <title></title>
	  <link rel="stylesheet" href="style.css">
	</head>
	<body class="book-form">
		<main>



		


<h1>Book Form Page</h1>
	<form method="POST" action="/book/add">
		<input placeholder="title" name="title">
		<input placeholder="author" name="author">
		<input placeholder="average rating" name="average rating">
		<input placeholder="number of pages" name="number of pages">
		<button type ="submit">Add a Book to your Reading List</button>
		
	</form>



		</main>

	</body>
</html>