<% include ./partials/boilerplate.ejs %>

<div>
  <h1><%= message %></h1>
  <h2><%= documentTitle %></h2>
  <h3><%= subTitle %></h3>
</div>


<a href='/books'>See all books</a>
<a href='/favs'>See fav books</a>
<a href='/read'>See books read</a>

<% include ./partials/footer.ejs %>