<% include ./partials/boilerplate.ejs %>

<div>
  <h1><%= message %></h1>
  <h2><%= documentTitle %></h2>
  <h3><%= subTitle %></h3>
</div>

<div>
<a href='/books'>See all books you want to read!</a>
</div>
<div>
<a href='/fav'>See your favorite books!</a>
</div>
<div>
<a href='/read'>See books you already read!</a>
</div>
<% include ./partials/footer.ejs %>