<% include ../partials/boilerplate.ejs %>
<h1>There are <%= favs.length %> Books </h1>
<main>
  <% favs.forEach(fav => { %>
    <section class='fav'>
    <h2><%= fave.title %></h2>
    <a href='/favs/<%= fav.id%>'>Get More Info!</a>
    </section>
  <% }) %>
</main>
<% include ../partials/footer.ejs %>